<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's verify some pets NOW</title>
</head>
<body>
    <div class="container">
        Is this image a {{pet_name}}? <br/>
        <!-- See if this displays an image, or just the img jpg-->
        <img src="{{image}}"> <br/>

        <form method = "post" action="{% url 'answer_yes' %}">
            {% csrf_token %}
            <button type="submit">Yes</button>
        </form>

        <form method = "post" action="{% url 'answer_no' %}">
            {% csrf_token %}
            <button type="submit" >No</button>
        </form>
        <br/>
        <a href="{% url 'landing_page' %}">Return Home</a>

    </div>
</body>
</html>