appdirs==1.4.4
asgiref==3.5.0
attrs==21.4.0
cattrs==1.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
commonmark==0.9.1
Django==4.0.3
idna==3.3
importlib-metadata==4.11.3
keyring==23.5.0
Pillow==9.1.0
Pygments==2.11.2
pyrate-limiter==2.8.1
python-dateutil==2.8.2
python-forge==18.6.0
pywin32-ctypes==0.2.0
requests==2.27.1
requests-cache==0.9.3
requests-ratelimiter==0.3.1
rich==10.11.0
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
url-normalize==1.4.3
urllib3==1.26.9
zipp==3.8.0