 <!-- This is used for the landing page only -->
<!doctype html>
 {% extends 'base/base.html' %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <title>Pokemon Go IRL</title>
  </head>
  <style >
    body {
      background-color: #FFEFD5
}
  </style>
  <body>

  {% block stuff %}
 <!-- In case stuff wants to be added later under the navbar-->
  {% endblock %}

  </body>
</html>

<!--

 -->