<!DOCTYPE html>
<html>
{% extends 'base/base.html' %}
    <head>
        <meta charset="utf-8">
        <title>Item List</title>
    </head>
    <body>
    {% block stuff %}
        {% if items %}
            {% for item in items %}
                <div><img width="200px" height="200px" src="../../../{{ item.image }}">
                    <h3>{{ item.name }}</h3> <p>{{ item.description }}</p></div>
            {% endfor %}
        {% else %}
            <p>No items?</p>
        {% endif %}

    {% endblock %}
    </body>
</html>