<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pet List</title>
    </head>
    <body>
        {% if pet_list %}
            {% for pet in pet_list %}
                <div>
                    {% block content %}
                        <img src="../../media/{{ pet.image }}">
                    {% endblock %}
                    <a href="{% url 'inventory:pet_view' pet.user_id pet.pet_name %}">{{ pet.pet_name }}</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No pets?</p>
        {% endif %}
    </body>
</html>