<!DOCTYPE html>
<html>
{% extends 'base/base.html' %}
<head>
    <meta charset="utf-8">
    <title>Pet List</title>
</head>
<body>
{% block stuff %}
    {% if pet_list %}
        {% for pet in pet_list %}
            <div>
                {% block content %}
                    <img src="../../media/{{ pet.image }}">
                {% endblock %}
                <a href="{% url 'pet_view' pet.user_id pet.pet_name %}">{{ pet.pet_name }}</a>
            </div>
            {% endfor %}
    {% else %}

<p>No pets?</p>
{% endif %}

{% endblock %}
</body>
</html>