<!DOCTYPE html>
{% extends 'base/base.html' %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ pet.pet_name }}</title>
    </head>
    <body>
    {% block stuff %}
        <div><p style="font-size:30px"> Stats:</p></div>
        <div><p style="font-size:20px"> HP: {{ pet.stat_hp }}</p></div>
        <div><p style="font-size:20px"> Attack: {{ pet.stat_attack }}</p></div>
        <div><p style="font-size:20px"> Defense: {{ pet.stat_defense }}</p></div>
        <div><p style="font-size:20px"> Speed: {{ pet.stat_speed }}</p></div>
        <form action="{% url 'select_list' %}">
            <input type="submit" value="Return to Inventory List" />
        </form>
        <br>
        <form action="{% url 'map' %}">
            <input type="submit" value="Return to Map" />
        </form>
      {% endblock %}
    </body>
</html>